@import url('../../css/main.css');
@import url('../../css/custom.css');
@import url('./projects-filter-form/index.scss');
@import url('./positions-filter-form/index.scss');
@import url('./custom-select/index.scss');
@import url('./cookie-dialog/index.scss');
@import url('./utils/index.scss');

body.admin-bar .nav {
	margin-top: 32px;
}

.projects-core {
	display: flex;
}
.projects-container {
	width: 100%;
	grid-column-gap: 20rem;
	grid-row-gap: 160rem;
	flex-wrap: wrap;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-columns: 1fr;
	align-content: flex-start;
	align-items: start;
	margin-top: 274rem;
	display: grid;
}

.jobs-rich.w-richtext > h2:not(:first-child) {
	margin-top: 80rem;
}
